# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
.env

# Firebase & Secret Keys
firebase-key.json
*.json

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env*

# OS
.DS_Store
Thumbs.db
